// _vars.scss

/* colours
-_-_-_-_-_-_-_-_-_-_- */

$primary:red;
$blue:#6772e5;
$green:#3ecf8e;

/* general
-_-_-_-_-_-_-_-_-_-_- */

$elementmargin:20px;

/* grid vars
-_-_-_-_-_-_-_-_-_-_- */

$grid--columns:12;
$grid--maxwidth:1170px;
$grid--padding:0px 10px;
$grid--margin:0 auto;

/* navi vars
-_-_-_-_-_-_-_-_-_-_- */

$nav--padding:20px 0px;